<launch>

    <node name="ibvs_controller_node" pkg="rvb_mpc" type="IBVS_random_controller_node" clear_params="true" output="screen" 
          args="$(find rvb_mpc)/parameters/params_short_term.yaml $(find rvb_mpc)/parameters/mavGuiParams.yaml">
    </node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rvb_mpc)/parameters/rvb.rviz" />

</launch>

