<robot name="simple_box">
  <link name="my_box">
    <inertial>
      <origin xyz="1.5 0 3.7" />
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
      <gravity>false</gravity>
      <static>true</static>
    </inertial>
    <visual>
      <origin xyz="1.5 0 3.7"/>
      <geometry>
        <box size="0.15 3 0.15" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="1.5 0 3.7"/>
      <geometry>
        <box size="0.15 3 0.15" />
      </geometry>
    </collision>
          <velocity>0 0 0 0 -0 0</velocity>
          <acceleration>0 0 0 0 -0 0</acceleration>
          <wrench>0 0 0 0 -0 0</wrench>
  </link>
  <gazebo reference="my_box">
    <material>Gazebo/Yellow</material>
    <static>true</static>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
</robot>
